.DEBUGG { border: 1px dashed red; }

/* ********************* */

body {
  /* margin: 10px 18px; */
  font-size: 15px;

}


h1 {
	font-family: 'linotype_helvetica_thin', 'open_sansbold', 'open_sansregular',  'linotype_helvetica_bold', arial, sans-serif;
	font-size: 1.75rem;
	color: #0032A0;
}

h2 {
	font-family: 'linotype_helvetica_roman', 'open_sanssemibold', 'open_sansbold', 'open_sansregular', arial, sans-serif;
	/* font-size: 1rem; */
	color: #051c48;
}

h3 {
	font-family: 'linotype_helvetica_bold', 'open_sanssemibold', 'open_sansbold', 'open_sansregular', arial, sans-serif;
	/* font-size: 1rem; */
	color: #000;
}


.highlight {
	border: 1px dotted #999;
	border-radius: 4px;
	padding: 15px;
	margin-bottom: 12px;
}



/* navigation */
.dc-navPanel {
	border-right: 1px solid #ddd;
	font-size: 14px;
}

.dc-navOption {
	
}

.dc-navOption__top {
	margin-top: 22px;
	padding: 0px;
}
.dc-navOption__top > a {
	font-weight: bold;
	color: #5C6270;   /* #656C7B; #0032A0; */
	text-decoration: none;	
	border-bottom: 1px solid #ddd;
	padding: 6px 10px;
	display: block;
}

.dc-navOption__subone {	
	padding: 0px;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	border: 0px;
}
.dc-navOption__subone > a {
	color: #888;
	text-decoration: none;
	padding: 4px 7px 3px 11px;
	display: block;
}

.dc-navOption__top:hover, 
.dc-navOption__subone:hover {
	
}

.dc-navOption__top > a:hover, 
.dc-navOption__subone > a:hover {
	color: #002BB8; /* #00259E; */
	text-decoration: none;
	background-color: #E3E3E3;
	display: block;
}

a.dc-navOption__active {
	color: #333;
	background-color: #F5E500;
}



/* top banner */
.dc-banner {
	background-color: #051c48;  /* #12484B;  */
	color:  #F5E500; 
	font-family: 'linotype_helvetica_thin', arial, sans-serif;
	font-size: 2.5em;
}
.dc-banner--royal {
	background-color: #0032A0;
	color: #fff; /*#F5E500; */
	font-family: 'linotype_helvetica_bold', arial, sans-serif;
	font-family: arial, sans-serif;
	font-size: 12px;
	padding: 5px 10px;
	border-bottom: 4px solid #F5E500;
}
.dc-bannerLinks {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

}
.dc-bannerLinks__link {
	flex-basis: 5rem;
	font-family: 'linotype_helvetica_thin', 'open_sanssemibold', 'open_sansbold', 'open_sansregular', arial, sans-serif;
	font-family: helvetica, arial, sans-serif;
	font-size: .85rem;
}



/* footer */
.dc-footer,
.dc-footer a {	
	color: #888;
	font-size: 10px;
}
.dc-footer {	
	margin-top: 10px;
	padding: 7px;
	border-top: 1px solid #ccc;
}



/* Home page */
/* FEATURE BLOCK CLASSES */
.dv-feature { 
  margin: 0px auto;
  text-align: center;
  padding-bottom: 18px;
  border: 1px solid #A6B3DE;  /* #2B3C73  #BBBBBB; */
  border-radius: 3px;
  background-color: #FFFFFF;
  width: 250px;
}
.dv-feature h3 {  
  margin-top: 12px;
  font-family: 'linotype_helvetica_bold', 'open_sanssemibold', 'open_sansbold', 'open_sansregular', arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #2b3c73 ;
}
.dv-feature p {
  padding: 2px 20px 5px 20px;
  color: #666666;
  font-size: 13px;
  line-height: 15px;  
}
.dv-feature__button,
.dv-feature__button:visited {
  margin: 3px;  
  padding: 6px 14px;
  color: #FFFFFF;
  background-color: #2b3c73;
  border: 2px solid #2b3c73;
  border-radius: 50px;
  font-family: 'linotype_helvetica_roman', 'open_sansbold', 'open_sansregular',  'linotype_helvetica_bold', arial, sans-serif;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
}
.dv-feature__button:hover,
.dv-feature__button:active {
  color: #2b3c73;
  background-color: #FFFFFF;
  text-decoration: none;
}

H2.block-title {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}


/* HERO BLOCK CLASSES */
.dv-hero__background {
background: #5d84aa; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3JSIgc3RvcC1jb2xvcj0iIzVkODRhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIyJSIgc3RvcC1jb2xvcj0iIzQ2NzliMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iIzE1NTI5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iIzJiM2M3MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #5d84aa 7%, #4679b2 22%, #155299 53%, #2b3c73 83%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,#5d84aa), color-stop(22%,#4679b2), color-stop(53%,#155299), color-stop(83%,#2b3c73)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5d84aa 7%,#4679b2 22%,#155299 53%,#2b3c73 83%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5d84aa 7%,#4679b2 22%,#155299 53%,#2b3c73 83%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5d84aa 7%,#4679b2 22%,#155299 53%,#2b3c73 83%); /* IE10+ */
background: linear-gradient(to bottom,  #5d84aa 7%,#4679b2 22%,#155299 53%,#2b3c73 83%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d84aa', endColorstr='#2b3c73',GradientType=0 ); /* IE6-8 */

border-radius: 3px;
}

.dv-hero__headline {
  font-family: 'linotype_helvetica_thin', 'open_sanssemibold', 'open_sansbold', 'open_sansregular', arial, sans-serif;
  font-size: 2.75rem; 
  color:#FFFFFF;
  /* text-shadow: #000 1px 1px; */
}
.dv-hero__headline--accent {
  color: #F5E500;	
}

.dv-hero__button,
.dv-hero__button:visited {
  position: relative;
  margin: 5px  0px; 
  padding: 7px 17px;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;  
}
.dv-hero__button:hover,
.dv-hero__button:active {
  color: #2b3c73;
  background-color: #FFFFFF;
  text-decoration: none;
}