.DEBUGG { border: 1px dashed red; }

/* ********************* */
/* COLORS */
/* 
dark blue: 		#;
royal blue: 	#0032A0;
yellow: 		#F3E600;
*/
/* ********************* */


body {
  /* margin: 10px 18px; */
  font-size: 15px;
  color: #000000;
}


h1 {
	font-family: 'linotype_helvetica_thin', 'open_sansbold', 'open_sansregular',  'linotype_helvetica_bold', arial, sans-serif;
	font-size: 1.75rem;
	color: #0032A0;
}

h2 {
	font-family: 'linotype_helvetica_roman', 'open_sanssemibold', 'open_sansbold', 'open_sansregular', arial, sans-serif;
	/* font-size: 1rem; */
	color: #051c48;
}

h3 {
	font-family: 'linotype_helvetica_bold', 'open_sanssemibold', 'open_sansbold', 'open_sansregular', arial, sans-serif;
	/* font-size: 1rem; */
	color: #000;
}

a {
	color: #0032A0;
	text-decoration: none;
}
a:active,
a:hover {
	color: #000;
	text-decoration: underline;
}


.highlight {
	border: 1px dotted #999;
	border-radius: 4px;
	padding: 15px;
	margin-bottom: 12px;
}


.dc-page {
	width: 100%;
	overflow: auto;
	border: 0px;
}

.dc-pageLayout {
	display: flex;
	flex-direction: row;
}
.dc-pageLayout_cell--nav {
	flex-basis: 222px;
	background-color: #fff;
}




/* navigation */
.dc-navPanel {
	margin-top: 30px;
	border-right: 1px solid #ddd;
	font-size: 14px;
}

.dc-navOption {	
}

.dc-navOption__top {
	margin-top: 22px;
	padding: 0px;
}
.dc-navOption__top > a {
	font-weight: bold;
	color: #777777; 
	text-decoration: none;	
	border-bottom: 1px solid #DDDDDD;
	padding: 6px 10px;
	display: block;
}

.dc-navOption__subone {	
	padding: 0px;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	border: 0px;
}
.dc-navOption__subone > a {
	color: #666666;
	text-decoration: none;
	padding: 4px 7px 3px 11px;
	display: block;
}

.dc-navOption__top:hover, 
.dc-navOption__subone:hover {
	
}

.dc-navOption__top > a:hover, 
.dc-navOption__subone > a:hover {
	color: #002BB8;
	text-decoration: none;
	background-color: #E3E3E3;
	display: block;
}

a.dc-navOption__active {
	color: #333;
	background-color: #F5E500;
}



/* top banner */
.dc-logo {
	width: 85px;
}

.dc-banner {
	background-color: #00000A;
	color:  #F5E500; 
	font-family: 'linotype_helvetica_thin', arial, sans-serif;
	font-size: 2em;
}
.dc-banner--royal {
	background-color: #0032A0;
	color: #fff; /*#F5E500; */
	font-family: 'linotype_helvetica_bold', arial, sans-serif;
	font-family: arial, sans-serif;
	font-size: 12px;
	padding: 5px 10px;
	border-bottom: 4px solid #F5E500;
}
.dc-bannerLinks {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.dc-bannerLinks__link {
	flex-basis: 5rem;
	font-family: 'linotype_helvetica_thin', 'open_sanssemibold', 'open_sansbold', 'open_sansregular', arial, sans-serif;
	font-family: helvetica, arial, sans-serif;
	font-size: .85rem;
	color: #ffffff;
}
.dc-bannerLinks__link a {
 	color: #ffffff;
}



/* footer */
.dc-footer,
.dc-footer a {	
	color: #eee;
	font-size: 10px;
}
.dc-footer {	
	margin-top: 0px;
	padding: 7px;
	border-top: 1px solid #0032A0;
	background-color: #00000A;
}



/* Home page */
.dc-home__background {
  background: #00000A;  /* #0032A0; /* Old browsers */
  background-color:#00000A; 
  background-image:url('http://www.tangoe.com/wp-content/uploads/2015/12/1.2_Telecom1.jpg');
  background-size: cover;
}

/* FEATURE BLOCK CLASSES */
.dc-featureBlock {
  /* width: 100%; */
  margin-top: 50px;
  background-color: #0032A0;
  display: flex;
  flex-direction: row;  
  justify-content: space-around;  
}
.dv-feature { 
  margin: 15px 5px;
  text-align: center;
  padding-bottom: 18px;
  border: 1px solid  #051C48; 
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}
.dv-feature h3 {  
  margin-top: 12px;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #FFFA99; 
}
.dv-feature p {
  min-width: 120px;
  max-width: 220px;
  padding: 20px 20px 5px 20px;
  color: #eee;
  font-size: 11px;
  line-height: 15px;  
}
.dv-feature__button,
.dv-feature__button:visited {
  margin: auto auto;  
  padding: 6px 14px;
  color: #FFFFFF;
  background-color: #0032A0;
  border: 1px solid #fff; /*  #051C48; #2b3c73; */
  border-radius: 0px;
  font-family: 'linotype_helvetica_romanX', 'open_sansboldX', 'open_sansregularX',  'linotype_helvetica_boldX', verdana, helvetica, arial, sans-serif;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
}
.dv-feature__button:hover,
.dv-feature__button:active {  
  color: #000000; /* #2b3c73; */
  background-color: #f3E600;
  border: 1px solid #f3E600; 
  text-decoration: none;
}

H2.block-title {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}


/* HERO BLOCK CLASSES */
.dv-hero__background {
  padding: 20px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 3px;
}

.dv-hero__headline {
  font-family: 'linotype_helvetica_thin', 'open_sanssemibold', 'open_sansbold', 'open_sansregular', arial, sans-serif;
  font-size: 2.75rem; 
  color:#FFFFFF;
}
.dv-hero__headline--accent {
  color: #F5E500;	
}

.dv-hero__button,
.dv-hero__button:visited {
  position: relative;
  margin: 5px  0px; 
  padding: 7px 17px;
  color: #000000;
  background-color: #f3E600;
  border: 1px solid #f3E600; 
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;  
}
.dv-hero__button:hover,
.dv-hero__button:active {
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  text-decoration: none;
}