<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} MOB API </title>
  <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
 
  <div id="main">
 
    <header>
      <p><img src="images/{{ page.logo2 }}" alt="Tangoe" /></p>
    <header>
 
    <nav role="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/start/">Getting Started</a></li>
        <li><a href="/tutorials/">Tutorials</a></li>
        <li><a href="/concepts/">Using the API</a></li>
        <li><a href="/policies/">Policies</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    
    <br>
    <hr style="width:100%">
    <br>