<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} MOB API </title>  
  
  <link rel="stylesheet" href="{{site.url}}css/tgUI-style.0.2.8.minX.css" />
  
  

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,300" />

  <link rel="stylesheet" href="{{site.url}}css/styles2.css" />


</head>
<body>
 
  <div id="tg-shellMain">

    <header class="tg-display--table  tg-one-whole  tg-pad--half">
      <div class="tg-display--table-cell"  style="width:150px"><a href="/"><img src="{{site.url}}images/tangoe-logo_125.png" alt="Tangoe" /></a></div><!--
      --><div class="tg-display--table-cell  tg-text--left  tg-valign--middle  tg-h1">Mobile Procurement API v1</div><!--
      --><div class="tg-display--table-cell  tg-text--right  tg-valign--middle">
          <a href="">Learn</a>  |  <a href="">Reference</a>  |  <a href="">Register</a>
        </div>
    </div>
    <header>

    
  