{% include base.html %}
{% include header.html %}

<div class="tg-grid">
  <div class="tg-grid__cell  tg-one-fifth  tg-pad">
    <nav role="navigation" class="tg-space--top">
      <ul>
        <li><a href="{{base}}/">Home</a></li>
        <li><a href="{{base}}/start/">Getting Started</a>
          <ul>
            <li><a href="{{base}}/start/register.md">Register your App</a></li>
            <li><a href="{{base}}/start/first-call.md">Make your First Call in Minutes</a></li>
            <li><a href="{{base}}/start/test-explore.md">Test and Explore</a></li>
          </ul>
        </li>
        <li><a href="{{base}}/tutorials/">Tutorials</a></li>
        <li><a href="{{base}}/concepts/">Using the API</a></li>
        <li><a href="{{base}}/policies/">Policies</a></li>
        <li><a href="{{base}}/contact">Contact</a></li>
      </ul>
    </nav>
  </div><!--
  --><div class="tg-grid__cell  tg-four-fifths  tg-pad">

    {{ content }}

  </div>  
</div>  
 
{% include footer.html %}